*.suo
*.user
*.cachefile
*.xnb
*.sln.docstates
*.cache
*.ncrunchproject
*.ncrunchsolution
*.vsmdi
*.testsettings
SharpSteer2/bin
SharpSteer2/obj
Demo/bin
Demo/obj
SharpSteer2.WinDemoContent/bin
SharpSteer2.WinDemoContent/obj
SharpSteer2.Tests/bin
SharpSteer2.Tests/obj
_Resharper.*